.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}

body {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 42em;
}


.title-nav {
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.icon-link>.bi {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  fill: currentcolor;
  transition: transform 0.25s ease-in-out;
}

.icon-link:hover>.bi {
  transform: translate(0.25rem);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.hover-zoom svg {
  transition: transform 0.3s ease;
  /* Smooth transition */
}

.hover-zoom:hover svg {
  transform: scale(1.3);
  /* Enlarge the SVG when hovered */
}

.hover-zoom-image img {
  transition: transform 0.3s ease;
}

.hover-zoom-image img:hover {
  transform: scale(1.05);
}


.navbar .dropdown-menu {
  transition: background-color 0.5s ease;
  background-color: #004d4d;
  padding: 0.5rem;
  border-radius: 0.5rem;
}


.navbar:hover {
  background-color: #008080;

}


.navbar-nav .nav-link {
  transition: color 0.5s ease;
}

.navbar-nav .nav-link:hover {
  color: #00ced1;

}


.navbar-brand svg,
.dropdown-item svg {
  transition: transform 0.2s ease, fill 0.5s ease;
}


.navbar-brand:hover svg,
.dropdown-item:hover svg {
  transform: scale(1.3);

}


.dropdown-item {
  color: #e5e5e5;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #00ced1;

}

.container {
  background-color: #3c3d2b;
  background-image: url("table.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: #e5e5e5;
  font-size: 2rem;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  max-width: 100%;
  padding: 20px;
}

.container .animation {
  height: 50px;
  overflow: hidden;
  margin-left: 1rem;
}

.container .animation>div>div {
  padding: 0.25rem 0.75rem;
  height: 3rem;
  margin-bottom: 2.75rem;
  display: inline-block;
}

.container .animation div:first-child {
  animation: text-animation 12s infinite;
}

.container .first div {
  background-color: #1a7ca0;
}

.container .second div {
  background-color: #18453b;
}

.container .third div {
  background-color: #963518;
}

.container .fourth div {
  background-color: #423381;
}

/* Animation keyframes */
@keyframes text-animation {

  0%,
  10% {
    margin-top: 0;
  }

  20%,
  30% {
    margin-top: -5.62rem;
  }

  40%,
  50% {
    margin-top: -11.24rem;
  }

  60%,
  70% {
    margin-top: -16.86rem;
  }

  /* Adjust if necessary */
  80%,
  90% {
    margin-top: -11.24rem;
  }

  100% {
    margin-top: 0;
  }
}

.icon-row {
  display: flex;
  flex-wrap: nowrap;

  justify-content: center;

  gap: 10px;

}

.icon-row a {
  text-decoration: none;
}


@media (max-width: 576px) {
  .icon-row {
    gap: 5px;

  }

  .icon-row a {
    margin: 0;

  }
}

.switch {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  z-index: 9;
  margin-left: 5rem;
  margin-right: 0.5rem;

  &-light,
  &-dark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;
  }

  &-light {
    font-size: 1.45rem;
    visibility: visible;
    color: var(--color-black-300);

    .darkmode & {
      font-size: 0rem;
      visibility: hidden;
    }
  }

  &-dark {
    font-size: 0rem;
    visibility: hidden;
    color: var(--color-white-100);

    .darkmode & {
      font-size: 1.45rem;
      visibility: visible;
    }
  }
}

.hero {
  background: linear-gradient(135deg, #01171b 40%, #044e43) center;
  color: white;
  padding: 2.5rem 1.5rem;
  font-family: "Gill Sans", sans-serif;
  text-align: center;
  font-size: 1.6em;
  font-weight: 600;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  opacity: 0.95;
  max-width: 800px;
  margin: auto;
}

.hero h5 {
  margin: 0;
  letter-spacing: 0.5px;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .hero {
    font-size: 1.2em;
    padding: 1.5rem;
  }
}


.proj-card-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proj-card-cover:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
}

.proj-card-cover:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
}


@media (max-width: 992px) {
  .row-cols-1.row-cols-lg-3 {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .proj-card-cover {
    border-radius: 10px;
  }
}

.slider-block {
  height: 350px;
  display: inline-block;
}

.card {
  position: relative;
}

.card-img {
  background-size: cover;
  background-position: center;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.text-shadow-1 {
  position: relative;
  z-index: 2;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}